 body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #333;
        }

        .chessboard {
            width: 480px;
            height: 480px;
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            border: 5px solid #222;
        }

        .square {
            width: 60px;
            height: 60px;
            align-items: center;
            font-size: xx-large;
            justify-content: center;
        }

        .white {
            background-color: #f0d9b5;
           
            display: flex;
            
        }

        .black {
            background-color: #b58863;
            display: flex;
        }
    